<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="datamannager-element">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]!</h2>
  </template>

  <script>
    /**
     * `datamannager-element`
     * &#39;m&#39;
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class DatamannagerElement extends Polymer.Element {
      static get is() { return 'datamannager-element'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'datamannager-element'
          }
        };
      }
    }

    window.customElements.define(DatamannagerElement.is, DatamannagerElement);
  </script>
</dom-module>
