<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="../iron-ajax/iron-ajax.html">
<link rel="import" href="../paper-spinner/paper-spinner.html">

<dom-module id="datamannager-element">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>


    <!-- <template is="dom-if" if="{{cargando}}">
    <paper-spinner active="{{cargando}}" class="thick"></paper-spinner>
    <h2>Cargando {{cargando}}</h2>
    </template>
 -->    <!-- <h3>{{handleResponse.name}}</h3> -->

      <iron-ajax
          auto
          url="https://jsonplaceholder.typicode.com/users/"
          handle-as="json"
          last-response="{{handleResponse}}"
          >
      </iron-ajax>
 
  

  <ul>
  <template is="dom-repeat" items="[[handleResponse]]" as="usuario">
    <li>[[usuario.name]]</li>
  </template>
  </ul>


</template>
  <script>
    /**
     * `datamannager-element`
     * &#39;m&#39;
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class DatamannagerElement extends Polymer.Element {
      static get is() { return 'datamannager-element'; }
      static get properties() {
        return {
          handleResponse: {
            type: Object,
            value: () => {return {}},
            observer: '_success'
          },//hand response
          cargando: {
            type: Boolean,
            value: true
          }
        };
      }

      _success(e){
        // this.cargando = false;
         console.log('succes');


         this.dispatchEvent(
          new CustomEvent('data-servicio', {
            detail: this.handleResponse
          }
          )
          );

         /*hola*/


      }


    }

    window.customElements.define(DatamannagerElement.is, DatamannagerElement);
  </script>
</dom-module>
